# Copy this file to .env and fill your real values.
# .env is ignored by git.

# Required
BF_API_URL=enc:PASTE_ENCRYPTED_VALUE_HERE
BF_GOOGLE_CLIENT_ID=enc:PASTE_ENCRYPTED_VALUE_HERE
BF_GOOGLE_REDIRECT_URI=enc:PASTE_ENCRYPTED_VALUE_HERE

# Optional
BF_GAME_DOWNLOAD_URL=https://bitfighters.eu/BitFighters.zip
BF_VERSION_CHECK_URL=https://bitfighters.eu/version.txt
